%h3 Lista użytkowników
%table.table
  %tr
    %th Imię
    %th Nazwisko
    %th Email
    %th Telefon
    %th Zamówienia
    %th Aktywny?
    - if current_user.has_any_role? :admin
      %th &nbsp;
  - @users.each do |user|
    %tr
      %td
        = user.firstname
      %td
        = user.lastname
      %td
        = link_to user.email, user
      %td
        = user.phone
      %td Zamówienia
      %td
        - if user.is_active
          Tak
        - else
          Nie
      %td
        = link_to 'Edytuj', edit_user_path(user), :class => 'btn btn-default btn-xs'
        = link_to 'Usuń', edit_user_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Czy na pewno chcesz usunąć?')) }, :class => 'btn btn-xs btn-danger'
