%h3 Lista użytkowników
%table.table
  %tr
    %th Imię
    %th Nazwisko
    %th Email
    %th Telefon
    %th Zamówienia
    %th Edytuj
    %th Usuń
  - @users.each do |user|
    %tr
      %td
        = user.firstname
      %td
        = user.lastname
      %td
        = link_to user.email, user
      %td
        = user.phone
      %td Zamówienia
      /%td= link_to 'Ankiety', user_orders_path(user)
      %td= link_to 'Edytuj', edit_user_path(user)
      %td= link_to 'x', user, confirm: 'Jesteś pewny?', method: :delete