= form_for [@producer, @producer_contact], :html => { :class => 'form-horizontal' } do |f|
  .form-group
    = f.label :firstname, "Imię"
    = f.text_field :firstname, class: 'form-control'
  .form-group
    = f.label :lastname, "Nazwisko"
    = f.text_field :lastname, class: 'form-control'
  .form-group
    = f.label :phone, "Telefon"
    = f.text_field :phone, class: 'form-control'
  .form-group
    = f.label :email, "Email"
    = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :description, "Opis"
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.submit "Zapisz", class: 'btn btn-primary'

= link_to t('.cancel', :default => t("helpers.links.cancel")), producer_path(@producer), :class => 'btn btn-default'
