.page-header
  %h1 Producenci
= link_to 'Nowy producent', new_producer_path, :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th Nazwa
      %th Miejscowość
      %th Ulica
      %th Kod pocztowy
      %th Aktywny?
      %th &nbsp;
  %tbody
    - @producers.each do |producer|
      %tr
        %td= link_to producer.name, producer_path(producer)
        %td= producer.city
        %td= producer.street
        %td= producer.zip_code
        %td
          - if producer.is_active
            Tak
          - else
            Nie
        %td
          = link_to 'Edytuj', edit_producer_path(producer), :class => 'btn btn-default btn-xs'
          = link_to 'Usuń', producer_path(producer), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Czy na pewno chcesz usunąć?')) }, :class => 'btn btn-xs btn-danger'

