.page-header
  %h1 Produkty

= link_to 'Dodaj nowy', new_product_path, :class => 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Nazwa
      %th Producent
      %th Dostępny?
      %th Cena
      %th Jednostka
      - if current_user.has_any_role? :admin
        %th &nbsp;
      %th &nbsp;
  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.name, product_path(product)
        %td= link_to product.producer.name, producer_path(product.producer)
        %td
          - if product.is_active
            Tak
          - else
            Nie
        %td= product.price
        %td= product.unit
        - if current_user.has_any_role? :admin
          %td
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_product_path(product), :class => 'btn btn-default btn-xs'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), product_path(product), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Czy na pewno chcesz usunąć?')) }, :class => 'btn btn-xs btn-danger'
        %td
          - if product.is_active
            = link_to 'Dodaj do zamówienia', '#'

